@font-face {
    font-family: 'Poppins';
    src: url('poppins.ttf');
}

:root {
    --primary: #003856;
    --secondary: #05556F;
    --accent: #849E8A;
    --neutral: #D7CFA1;
    --light: white;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Poppins';
    background-color: var(--light);
    color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

p {
    line-height: 1.5;
}

main {
    padding: 5vh 10vw;
}

section {
    max-width: 30rem;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-accent {
    color: var(--accent);
}

.text-neutral {
    color: var(--neutral);
}

.flex {
    display: flex;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.gap-s {
    gap: .75rem;
}

.gap-m {
    gap: 1rem;
}

.gap-l {
    gap: 1.25rem;
}

.gap-xl {
    gap: 1.5rem;
}

.margin-bottom-s {
    margin-bottom: .75rem;
}

.margin-bottom-m {
    margin-bottom: 1rem;
}

.margin-bottom-l {
    margin-bottom: 1.25rem;
}

.margin-bottom-xl {
    margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
    html {
      font-size: 12px;
    }
  }

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}
