* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

main h1 {
  text-align: center;
}

@media (min-width: 768px) {
  main h1 {
    text-align: left;
  }
}
